.env
/tools/
/venv_openvino/
*.mp4
*.avi
*.mov
*.mkv
frontend/frontend/node_modules
TAIP/taip_env/*
models/training
models/testing/videos
models/oak-examples
TAIP/__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
